#order_data .order_data_column ._invoice_carruer_type_field,
#order_data .order_data_column ._invoice_random_number_field {
    float: right;
    clear: right;
}

#order_data .order_data_column ._invoice_date_field .date-picker {
    width: 7.5em;
}

#order_data .order_data_column ._invoice_date_field .hour,
#order_data .order_data_column ._invoice_date_field .minute,
#order_data .order_data_column ._invoice_date_field .second {
    width: 4em;
}


#order_data .order_data_column .address.ivoice strong {
    display: inline-block;
}

#order_data .ivoice_data_column {
    float: left;
    width: 63%;
    padding-right: 2%;
}

#order_data .ivoice_action_column {
    float: left;
    width: 35%;
}
